{% extends 'buyer/base.html' %}

{% block title %}
    商品详情页
{% endblock %}

{% block style %}
    <script src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script src="/static/buyer/js/vue-resource.js"></script>
    <script src="/static/buyer/js/vue.min.js"></script>
{% endblock %}

{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods_image }}" style="width: 360px;height: 360px;"></div>

		<div class="goods_detail_list fr" id="goods_detail_list">
			<h3>{{ goods_name }}</h3>
			<p>{{ goods_description }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" id="goods_count" class="num_show fl" value="{{ goods_count }}">
					<a href="#" id="add" class="add fr">+</a>
					<a href="#" id="sub" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em id="total_money">{{ total_money }}</em>元</div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_description }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
    $('#add').click(
            function () {
                var goods_count = $('#goods_count').val();
                var url = "/buyer/goods_num_ajax/?id={{ goods_id }}&meth=add&goods_count="+goods_count;
                $.ajax(
                    {
                        url:url,
                        type:"get",
                        data:"",
                        success:function (data) {
                            var goods_count = data.goods_count;
                            var total=data.total_money;
                            document.getElementById("goods_count").value=goods_count;
                            $("#total_money").html(total);

                        },
                        error:function(error){
                            console.log(error)
                        }
                    }
                )
            }
        )

    $('#sub').click(
        function () {
            var goods_count = $('#goods_count').val();
            var url = "/buyer/goods_num_ajax/?id={{ goods_id }}&meth=sub&goods_count="+goods_count;
            $.ajax(
                {
                    url:url,
                    type:"get",
                    data:"",
                    success:function (data) {
                        var goods_count = data.goods_count;
                        var total=data.total_money;
                        document.getElementById("goods_count").value=goods_count;
                        $("#total_money").html(total);

                        },
                    error:function(error){
                        console.log(error)
                    }
                }
            )
        }
    )

    </script>

{#	<script type="text/javascript" src="/static/buyer/js/jquery-1.12.2.js"></script>#}
{#	<script type="text/javascript">#}
{#		var $add_x = $('#add_cart').offset().top;#}
{#		var $add_y = $('#add_cart').offset().left;#}
{##}
{#		var $to_x = $('#show_count').offset().top;#}
{#		var $to_y = $('#show_count').offset().left;#}
{##}
{#		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})#}
{#		$('#add_cart').click(function(){#}
{#			$(".add_jump").stop().animate({#}
{#				'left': $to_y+7,#}
{#				'top': $to_x+7},#}
{#				"fast", function() {#}
{#					$(".add_jump").fadeOut('fast',function(){#}
{#						$('#show_count').html(2);#}
{#					});#}
{##}
{#			});#}
{#		})#}
{#	</script>#}
{% endblock %}