{% extends 'buyer/base.html' %}

{% block title %}
    商品详情页
{% endblock %}

{% block style %}
    <script src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script src="/static/buyer/js/vue-resource.js"></script>
    <script src="/static/buyer/js/vue.min.js"></script>
{% endblock %}

{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods_image }}" style="width: 360px;height: 360px;"></div>

		<div class="goods_detail_list fr" id="goods_detail_list">
			<h3>{{ goods_name }}</h3>
			<p>{{ goods_description }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{ goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>

            <form action="/buyer/place_order/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
			    <div class="goods_num clearfix">
			    	<div class="num_name fl">数 量：</div>
			    	<div class="num_add fl">
			    		<input type="text" id="goods_count" name="count" class="count num_show fl" value={{ goods_count }}>
                        <input type="hidden" id="goods_id" name="goods_id" class="goods_id" value="{{ goods_id }}">
                        <a href="#" id="add" class="add fr" onclick="changeCount('add')">+</a>
			    		<a href="#" id="sub" class="minus fr" onclick="changeCount('minus')">-</a>
			    	</div>
			    </div>
			    <div class="total">总价：<em id="total_money">{{ total_money }}</em>元</div>
			    <div class="operate_btn">
				<input type="submit" class="buy_btn" value="立即购买">
				<a href="#" class="add_cart" id="add_cart">加入购物车</a>
			</div>
            </form>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_description }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
        function changeCount(ty) {
            //通过id来获取商品数量
            var value = $('#goods_count').val();
            //如果是点击的增加按钮就让商品数量增加，点击的是减少按钮就让商品数量减少，减少到一的时候就不能再往下减
            if(ty == 'add'){
                $('#goods_count').val(++value)


            }else{
                if (value<=1){
                    $('#goods_count').val(1)
                }else {
                    $('#goods_count').val(--value)
                }
            }
            //获取商品价格并且计算总价
            var price = $('#price').text();
            var total_money=price*value;
            //获取商品总价修改商品总价内容
            $('#total_money').text(total_money)
        }

    </script>
    <script>
            //当点击加入购物车之后，把商品的数量和id信息发送给后台视图。
            $('#add_cart').click(
            function () {

                //参数部分
                var count = $('#goods_count').val();  //获取商品的数量
                var goods_id = $('#goods_id').val();  //获取商品id
                var sendData = {                      //把商品的数量和商品id打包，并加入csrf
                    'count':count,
                    'goods_id':goods_id,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                };
                var url = '/buyer/addcart/';

                //ajax部分
                $.ajax({
                    url:url,      //请求路径
                    type:'post',  //请求方式
                    data:sendData, //请求数据
                    success:function (data) {  //请求成功
                        console.log(data);
                        alert('商品已加入您的购物车！')
                    },
                    error:function (error) {   //请求失败
                        console.log(error);
                        alert('商品添加失败！')
                    }
                })

            }
        )

    </script>


{#    <script>#}
{#    $('#add').click(#}
{#            function () {#}
{#                var goods_count = $('#goods_count').val();#}
{#                var url = "/buyer/goods_num_ajax/?id={{ goods_id }}&meth=add&goods_count="+goods_count;#}
{#                $.ajax(#}
{#                    {#}
{#                        url:url,#}
{#                        type:"get",#}
{#                        data:"",#}
{#                        success:function (data) {#}
{#                            var goods_count = data.goods_count;#}
{#                            var total=data.total_money;#}
{#                            document.getElementById("goods_count").value=goods_count;#}
{#                            $("#total_money").html(total);#}
{##}
{#                        },#}
{#                        error:function(error){#}
{#                            console.log(error)#}
{#                        }#}
{#                    }#}
{#                )#}
{#            }#}
{#        )#}
{##}
{#    $('#sub').click(#}
{#        function () {#}
{#            var goods_count = $('#goods_count').val();#}
{#            var url = "/buyer/goods_num_ajax/?id={{ goods_id }}&meth=sub&goods_count="+goods_count;#}
{#            $.ajax(#}
{#                {#}
{#                    url:url,#}
{#                    type:"get",#}
{#                    data:"",#}
{#                    success:function (data) {#}
{#                        var goods_count = data.goods_count;#}
{#                        var total=data.total_money;#}
{#                        document.getElementById("goods_count").value=goods_count;#}
{#                        $("#total_money").html(total);#}
{##}
{#                        },#}
{#                    error:function(error){#}
{#                        console.log(error)#}
{#                    }#}
{#                }#}
{#            )#}
{#        }#}
{#    )#}
{##}
{#    $('#add_cart').click(#}
{#        function () {#}
{#            var url = url = '/buyer/add_cart/?id={{ goods_id }}&goods_num={{ goods_count }}&total_money={{ total_money }}';#}
{#            $.ajax(#}
{#                {#}
{#                    url:url,#}
{#                    type:"get",#}
{#                    data:"",#}
{#                    success:function (data) {#}
{#                        console.log(data)#}
{#                        },#}
{#                    error:function(error){#}
{#                        console.log(error)#}
{#                    }#}
{#                }#}
{#            )#}
{#        }#}
{#    )#}
{##}
{##}
{#    </script>#}

{% endblock %}